body{
    background-color:tomato;
}
.cabeçalho-titulo {
    font-size: 40px;
    margin:0 800px;
    color: #FFDE59; 
}
.cabeçalho-lista {
    font-size: 20px;
    margin:0 600px;
    color: white;
}
.cabeçalho-lista1 {
    font-size: 20px;
    margin:0 465px;
    color:white;
}
.cabeçalho-lista2 {
    font-size: 20px;
    margin:0 20px;
    color: rgb(0, 0, 0);
}

